# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies
generated_plugin_registrant.dart

# Android
android/.gradle/
android/captures/
android/.idea/

# iOS
ios/Flutter/.symlinks
ios/Pods/
ios/.generated/
ios/.idea/
ios/.dart_tool/
ios/Runner.xcworkspace/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig

# macOS
macos/Flutter/GeneratedPluginRegistrant.swift
macos/Pods/
macos/.generated/
macos/.dart_tool/
macos/.idea/

# Web
web/.dart_tool/

# VS Code
.vscode/

# Xcode
xcuserdata/
DerivedData/
.idea/

# Others
*.iml
*.lock
*.log
*.tmp
*.swp
*.DS_Store

# Firebase
firebase.json

# Windows
windows/flutter/ephemeral/

# Linux
linux/flutter/ephemeral/